/******************** HTML tags *****************/
code {
	display: inline-block;
	background: #f9f2f4;
	color: #c7254e;
	border-radius: 2pt;
	padding: 1pt 2pt;
	margin: 1pt 2pt
}

pre {
	background: #434C5E;
	padding: .1em .3em;
}

input[type="text"] {
	display: inline-block;
	font-family: monospace;
	padding: .3em;
	margin: .5em 0;
	box-sizing: border-box;
	font-size: 14pt;
	border-bottom: 2px solid #D8DEE9;
	background: #434C5E;
	min-width: 150%;
}

/******************** Classes  *****************/
/* output for python code */
.output {
	margin: -1.2em 0;
	padding: 1pt 5pt;
	font-family: monospace;
	color: #6c757d;
	background: #434C5E;
}

/* pseudo element header for comment */
.cmt::before {
	content: "NOTE";
	display: block;
	width: fit-content;
	color: #3B4252;
	background-color: #88C0D0;
	margin: 2pt 0;
	padding: 0 2pt;
	border-radius: 2pt;
}

.cmt {
	margin: 10pt 0;
	border: 1pt solid #D8DEE9;
	border-radius: 3pt;
	padding: 2pt;
}

/* pseudo element header for source */
.src::before {
	content: "SRC";
	display: block;
	width: fit-content;
	margin: 5pt 1pt;
	padding: 0 2pt;
	color: #3B4252;
	background-color: #88C0D0;
	font-weight: bold;
	border-radius: 2pt;
}

/* pseduo element header for synonyms */
.syn::before {
	content: "SYN";
	margin-right: .2em;
	color: orange;
}


/* block for code snippet */
.snippet {
	border: 1pt solid #D8DEE9;
	border-radius: 3pt;
	margin: 1em 0;
	padding: .2em;
}

/* for {{Tags}} field */
.tags::before {
	content: "#";
	display: inline-block;
	margin-right: 2pt;
}

.tags {
	color: #8FBCBB;
	padding: 2pt;
	margin: .5em 0;
	text-transform: capitalize;
}

/* Repl for python code snippet */
.pyrepl {
	font-family: monospace;
	padding: .3em;
	background: #434C5E;
}

.pyrepl::before {
	content: ">>>";
	color: #B48EAD;
	display: inline-block;
	margin-right: 3pt;
	padding: 0;
}


/* Biblio for CLRS */
.chap, .sec, .page {
	display: inline-block;
}

.chap::after {
	content: ".";
}

.sec {
	margin-left: -.2em;
	margin-right: .2em;
}

.clrsbib {
	margin: 1em 0;
}

.page::before {
	content: "p";
}

/* command line block */
.cli {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: .3em;
}
